/* Botón personalizado */
.btn-primary {
    background-color: #ff5733;
    border: none;
    transition: transform 0.3s, background-color 0.3s;
}

.btn-primary:hover {
    background-color: #c70039;
    transform: scale(1.05);
}

/* Sombra personalizada */
.shadow-custom {
    border-radius: 15px;
    transition: transform 0.3s;
}

.shadow-custom:hover {
    transform: translateY(-5px);
}

/* Formulario */
.form-custom {
    max-width: 500px;
}

/* Media query personalizada */
@media (max-width: 576px) {
    body {
        background-color: #f8f9fa;
    }

    h1 {
        color: #33c5ff;
    }
}
